@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    <div>
        <label>Email Address:</label>
        @Html.TextBox("email", null, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
}

<p>@ViewBag.Message</p>

